<?xml version="1.0" encoding="utf-8"?>
<Media Key="a0f0686a-d64c-4ef7-b5ed-1d6923921298" Alias="Jack Hamilton EP Ohkgn1ji Unsplash" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/JackHamiltonEPOhkgn1jiUnsplash</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-08-05T13:21:56</CreateDate>
    <NodeName Default="Jack Hamilton EP Ohkgn1ji Unsplash" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/nrupbicm/jack-hamilton-ep_ohkgn1ji-unsplash.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>