<?xml version="1.0" encoding="utf-8"?>
<Media Key="a682490c-f763-49c0-9f7e-db20800d6677" Alias="Paulius Dragunas Rscwqpg5ydu Unsplash" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/PauliusDragunasRscwqpg5yduUnsplash</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-08-08T23:32:11</CreateDate>
    <NodeName Default="Paulius Dragunas Rscwqpg5ydu Unsplash" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/bjejfjtd/paulius-dragunas-rscwqpg5ydu-unsplash.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>