<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b76d6507-842d-4b7c-bd2c-16b3f9cf6a93" Alias="carouselRowSettings" Level="4">
  <Info>
    <Name>Carousel Row Settings</Name>
    <Icon>icon-settings color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Elements/Content+Blocks/Setting+Models</Folder>
    <Compositions>
      <Composition Key="704230d6-b504-46f1-8517-adc75d1daeb5">blockVisibilitySettings</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>886d85cb-2cd2-4131-8d43-294d4da61aff</Key>
      <Name>Show Dark Mode</Name>
      <Alias>showDarkMode</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Set this to true if you want the carousel to be in dark mode]]></Description>
      <SortOrder>20</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>aa25bbe2-ad3e-49d0-b38a-fd818fee7c4c</Key>
      <Name>Show Indicators</Name>
      <Alias>showIndicators</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Set this to true if you would like to show the indicators on this carousel]]></Description>
      <SortOrder>10</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e5d7bcb2-40e3-4e97-9d60-52265e6c9563</Key>
      <Name>Show Navigation Arrows</Name>
      <Alias>showNavigationArrows</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Set this to true if you would like to show the navigation arrows on the carousel]]></Description>
      <SortOrder>15</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>bc3ac011-2286-4d46-b089-1b2149559625</Key>
      <Caption>Settings</Caption>
      <Alias>settings</Alias>
      <Type>Tab</Type>
      <SortOrder>100</SortOrder>
    </Tab>
  </Tabs>
</ContentType>