<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8509590e-fbed-411e-845a-619cf11da5c7" Alias="carouselItem" Level="4">
  <Info>
    <Name>Carousel Item</Name>
    <Icon>icon-slideshow color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Elements/Content+Blocks/Content+Models</Folder>
    <Compositions>
      <Composition Key="f93cff2b-7610-4e58-9eb2-c05451bbb4d2">descriptionProperty</Composition>
      <Composition Key="10bd711f-82dc-440f-950d-9c6fe0e8ead3">imageProperty</Composition>
      <Composition Key="2f0e7e5a-8ae5-416e-9c4c-7f565b5452de">titleProperty</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>