<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="60a73760-3688-4066-a5e4-9ce48fa870b7" Alias="contactPage" Level="2">
  <Info>
    <Name>Contact Page</Name>
    <Icon>icon-old-phone color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A page with contact details for this website owner</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="d612674c-f371-4f92-9288-942e63060a2c">contentProperties</Composition>
      <Composition Key="b3c5f1e7-4bbb-4388-a6a2-c81db94a6ddb">headerProperties</Composition>
      <Composition Key="852d29aa-6a67-47ce-ac33-5160223e30fb">visibilityProperties</Composition>
    </Compositions>
    <DefaultTemplate>ContactPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="d267e100-de8a-4909-bd39-00dc95669a99">ContactPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>