<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="00a73cf2-2595-4b57-a4ba-22642f847115" Alias="contentPage" Level="2">
  <Info>
    <Name>Content Page</Name>
    <Icon>icon-document color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A simple content page</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="d612674c-f371-4f92-9288-942e63060a2c">contentProperties</Composition>
      <Composition Key="b3c5f1e7-4bbb-4388-a6a2-c81db94a6ddb">headerProperties</Composition>
      <Composition Key="852d29aa-6a67-47ce-ac33-5160223e30fb">visibilityProperties</Composition>
    </Compositions>
    <DefaultTemplate>ContentPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="a58e114b-c89d-48f9-a82d-1c4ab7c01ce2">ContentPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>