<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="095cc462-a80d-49a1-8b00-d52d19f3c43d" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="e1e5d3c7-d27d-4935-9dc4-c4df824ecb76">footerProperties</Composition>
      <Composition Key="b3c5f1e7-4bbb-4388-a6a2-c81db94a6ddb">headerProperties</Composition>
      <Composition Key="4b3de78f-ef86-48d5-8b3b-c0a910ee9414">siteNavigationProperties</Composition>
    </Compositions>
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="0104844d-25b7-4fcd-bee6-5b8b8daa8600">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="00a73cf2-2595-4b57-a4ba-22642f847115" SortOrder="0">contentPage</ContentType>
    <ContentType Key="683f989c-7cff-4a30-96eb-cf5666f0f6a2" SortOrder="1">articleListPage</ContentType>
    <ContentType Key="60a73760-3688-4066-a5e4-9ce48fa870b7" SortOrder="2">contactPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>