<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f31c9dde-5a89-4774-8b8f-8c10c3f916f2" Alias="quoteRowSettings" Level="4">
  <Info>
    <Name>Quote Row Settings</Name>
    <Icon>icon-settings color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Elements/Content+Blocks/Setting+Models</Folder>
    <Compositions>
      <Composition Key="704230d6-b504-46f1-8517-adc75d1daeb5">blockVisibilitySettings</Composition>
      <Composition Key="1f1ed46a-ea91-4300-a2e5-761c5844f919">textAlignSettings</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>