<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="852d29aa-6a67-47ce-ac33-5160223e30fb" Alias="visibilityProperties" Level="2">
  <Info>
    <Name>Visibility Properties</Name>
    <Icon>icon-defrag color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>aa743002-53ae-405c-a5d3-1d1a47413019</Key>
      <Name>Hide</Name>
      <Alias>umbracoNaviHide</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Set this to true if you want to hide this page from the main navigation and from search results. sitemaps and general list pages.]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="visibility">Visibility</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>ca4228ab-25cc-4f1f-ac07-81d659dae980</Key>
      <Caption>Visibility</Caption>
      <Alias>visibility</Alias>
      <Type>Tab</Type>
      <SortOrder>80</SortOrder>
    </Tab>
  </Tabs>
</ContentType>