<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bb55bfbc-23c4-40e5-8a33-e1e003905e41" Alias="[BlockList] Main Content" Level="1">
  <Info>
    <Name>[BlockList] Main Content</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "ac2e4966-85c9-4137-ae63-e07f820f88b1",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ 'Rich Text ' + $index }} {{$settings.hide == '1' ? '[HIDDEN]' : ''}}",
      "settingsElementTypeKey": "c5d15e9e-8637-47be-bf5f-bcbdde739953",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "80e32829-baab-4a5e-90a4-5cb2b37109bb",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ 'Image Row ' + $index }} {{$settings.hide == '1' ? '[HIDDEN]' : ''}}",
      "settingsElementTypeKey": "f799051f-7674-46e5-8afa-39faf5745936",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": true,
  "UseLiveEditing": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>