<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bb55bfbc-23c4-40e5-8a33-e1e003905e41" Alias="[BlockList] Main Content" Level="1">
  <Info>
    <Name>[BlockList] Main Content</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "ac2e4966-85c9-4137-ae63-e07f820f88b1",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ 'Rich Text ' + $index }} {{$settings.hide == '1' ? '[HIDDEN]' : ''}}",
      "settingsElementTypeKey": "c5d15e9e-8637-47be-bf5f-bcbdde739953",
      "stylesheet": "~/css/styles.css",
      "thumbnail": null,
      "view": "~/App_Plugins/BlockListViews/Blocks/block-preview.html"
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "80e32829-baab-4a5e-90a4-5cb2b37109bb",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ 'Image ' + $index }} {{$settings.hide == '1' ? '[HIDDEN]' : ''}}",
      "settingsElementTypeKey": "f799051f-7674-46e5-8afa-39faf5745936",
      "stylesheet": "~/css/styles.css",
      "thumbnail": null,
      "view": "~/App_Plugins/BlockListViews/Blocks/block-preview.html"
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "5ac62690-aa64-4335-8a31-5224550fd73a",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ title != '' ? title : 'Featured Items ' + $index}} {{$settings.hide == '1' ? '[HIDDEN]' : ''}}",
      "settingsElementTypeKey": "5f89400d-ca33-412e-828f-9f5830a4c2f7",
      "stylesheet": "~/css/styles.css",
      "thumbnail": null,
      "view": "~/App_Plugins/BlockListViews/Blocks/block-preview.html"
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "4b14f682-a560-4f89-875a-c8195e1ed959",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ title != '' ? title : 'Accordion ' + $index}} {{$settings.hide == '1' ? '[HIDDEN]' : ''}}",
      "settingsElementTypeKey": "6c624f81-186c-48a2-af6c-f6b48fa5f95f",
      "stylesheet": "~/css/styles.css",
      "thumbnail": null,
      "view": "~/App_Plugins/BlockListViews/Blocks/block-preview.html"
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "953a0ae9-d75f-41dc-bec9-9c614e38ec1b",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "",
      "settingsElementTypeKey": "f31c9dde-5a89-4774-8b8f-8c10c3f916f2",
      "stylesheet": "~/css/styles.css",
      "thumbnail": null,
      "view": "~/App_Plugins/BlockListViews/Blocks/block-preview.html"
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "2313fa38-d735-46ac-bdf6-e6542ad60232",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ 'Carousel ' + $index }} {{$settings.hide == '1' ? '[HIDDEN]' : '' }}",
      "settingsElementTypeKey": "b76d6507-842d-4b7c-bd2c-16b3f9cf6a93",
      "stylesheet": "~/css/styles.css",
      "thumbnail": null,
      "view": "~/App_Plugins/BlockListViews/Blocks/block-preview.html"
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>