<?xml version="1.0" encoding="utf-8"?>
<DataType Key="54bcecc6-964c-4c46-8552-1d93ef01b95b" Alias="[BlockList] Carousel Items" Level="1">
  <Info>
    <Name>[BlockList] Carousel Items</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "8509590e-fbed-411e-845a-619cf11da5c7",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ title != '' ? title : 'Slide ' + $index}} {{$settings.hide == '1' ? '[HIDDEN]' : ''}}",
      "settingsElementTypeKey": "0ab8793c-db06-4fc7-82f4-6214da7f640f",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": true,
  "UseLiveEditing": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>