<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b29b7bbe-cad3-4ed4-b946-4a9b29e7a2ae" Alias="[RepeatableTextstrings] Names" Level="1">
  <Info>
    <Name>[RepeatableTextstrings] Names</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Maximum": 0,
  "Minimum": 0
}]]></Config>
</DataType>