<?xml version="1.0" encoding="utf-8"?>
<Content Key="c606cba8-dfeb-4db5-99be-e297710fe601" Alias="Blog" Level="2">
  <Info>
    <Parent Key="f8ae041e-094a-4aa0-9903-971245cab3ae">Home</Parent>
    <Path>/Home/Blog</Path>
    <Trashed>false</Trashed>
    <ContentType>articleListPage</ContentType>
    <CreateDate>2022-08-16T23:43:18</CreateDate>
    <NodeName Default="Blog" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8f12a9ba-ca69-4711-b341-9b56606bbb1b">ArticleListPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "6cabf9ef-fa98-42ab-9b08-23925fe50f27",
    "mediaKey": "a682490c-f763-49c0-9f7e-db20800d6677"
  }
]]]></Value>
    </mainImage>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>