<?xml version="1.0" encoding="utf-8"?>
<Content Key="f8ae041e-094a-4aa0-9903-971245cab3ae" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2022-08-05T13:08:32</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0104844d-25b7-4fcd-bee6-5b8b8daa8600">HomePage</Template>
  </Info>
  <Properties>
    <footerSocialLinks>
      <Value><![CDATA[[
  {
    "network": "github",
    "name": "GitHub",
    "url": "https://github.com/prjseal"
  },
  {
    "network": "twitter",
    "name": "Twitter",
    "url": "https://twitter.com/CodeSharePaul"
  },
  {
    "network": "youtube",
    "name": "YouTube",
    "url": "https://www.youtube.com/channel/PaulSealUK"
  }
]]]></Value>
    </footerSocialLinks>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "c176fe3d-3e96-431a-8fe5-5ade3acc9c21",
    "mediaKey": "a0f0686a-d64c-4ef7-b5ed-1d6923921298"
  }
]]]></Value>
    </mainImage>
    <mainNavigation>
      <Value><![CDATA[[
  {
    "key": "b84936f8-8ca4-44b8-84a8-17fc1e910a01",
    "name": "Home",
    "ncContentTypeAlias": "navigationItem",
    "PropType": null,
    "title": "Home",
    "link": [
      {
        "name": "Home",
        "udi": "umb://document/f8ae041e094a4aa09903971245cab3ae"
      }
    ],
    "childLinks": null
  },
  {
    "key": "63a60eb6-f746-412f-989e-e96fc33c6b8f",
    "name": "About",
    "ncContentTypeAlias": "navigationItem",
    "PropType": null,
    "title": "About",
    "link": [
      {
        "name": "About",
        "udi": "umb://document/dd7e61a070db416ca069b5dedfef3831"
      }
    ],
    "childLinks": null
  },
  {
    "key": "060bd600-5479-42a3-8eb2-d73cc14391bc",
    "name": "Blog",
    "ncContentTypeAlias": "navigationItem",
    "PropType": null,
    "title": "Blog",
    "link": null,
    "childLinks": [
      {
        "name": "Blog",
        "udi": "umb://document/c606cba8dfeb4db599bee297710fe601",
        "queryString": "#testing1"
      },
      {
        "name": "Most Popular",
        "url": "",
        "queryString": "#testing2"
      },
      {
        "name": "Latest Blog Posts",
        "url": "#testing3"
      }
    ]
  },
  {
    "key": "b0b416ce-6aa7-47a6-b0e9-0cdf6e8f4c08",
    "name": "Contact",
    "ncContentTypeAlias": "navigationItem",
    "PropType": null,
    "title": "Contact",
    "link": [
      {
        "name": "Contact",
        "udi": "umb://document/5e389936b1424867b332a405fac18f6d"
      }
    ],
    "childLinks": null
  }
]]]></Value>
    </mainNavigation>
    <subtitle>
      <Value><![CDATA[A blog website for Paul Seal]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Paul's Site]]></Value>
    </title>
  </Properties>
</Content>