@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.ContentPage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
}

<!-- Main Content-->
<main class="mb-4">
	<div class="container px-4 px-lg-5">
		@Html.GetBlockListHtml(Model.MainContent)
	</div>
</main>