@inherits UmbracoViewPage

@{
    var homePage = Model.AncestorOrSelf<HomePage>();
}

<!-- Footer-->
<footer class="border-top">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                @if(homePage.FooterSocialLinks != null)
                {
                    <ul class="list-inline text-center">
                        @foreach(var socialLink in homePage.FooterSocialLinks)
                        {
                            <li class="list-inline-item">
                                <a href="@socialLink.Url">
                                    <span class="fa-stack fa-lg">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-@socialLink.Network fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                        }
                    </ul>
                }
                
                <div class="small text-center text-muted fst-italic">&copy; @Umbraco.GetDictionaryValue("Footer.CopyrightTitle") @DateTime.Now.Year</div>
            </div>
        </div>
    </div>
</footer>